option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath:  url_shortener_take_home.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE:url_shortener_take_home.settings
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static